.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.about-info {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.about-img img {
    width: 450px;
    height: 500px;
    border-radius: 25px;
}

.profile-img {
    width: 350px;
    height: 350px;
}

.about-box {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-data {
    width: 400px;
    text-align: center;
    font-size: 18px;
}