.contact-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://img3.wallspic.com/previews/3/8/2/0/30283/30283-negro-luz-monocromo-en_blanco_y_negro-ambiente-x750.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-box1 img {
    width: 90%;
}

.contact-box2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info h1 {
    font-size: 45px;
}

.contact-info h5 {
    width: 650px;
    font-size: 18px;
    text-align: center;
}

.contact-name input {
    width: 300px;
    border-radius: 15px;
    padding-left: 15px;
}

.contact-email input {
    width: 380px;
    border-radius: 15px;
    padding-left: 15px;
}

.contact-form {
    width: 650px;
}

.contact-message {
    display: flex;
    flex-direction: row;
}

.message-box {
    width: 75%;
    
}

.message-box textarea {
    width: 100%;
    border-radius: 15px;
    padding-left: 15px;
}

.input-box {
    width: 25%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box input {
    border-radius: 15px;
    font-size: 25px;
}