.skills-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://images3.alphacoders.com/115/thumb-1920-1153857.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills-box {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-img-html {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.skills-img-css {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.skills-img-javascript {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.skills-img-react {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.skills-img-redux {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.skills-img-boostrap {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.skills-img-node {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.skills-img-postgresql {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.tecno-img {
    width: 160px;
    height: 150px;
}